<!DOCTYPE html>
<html>
    <head>
        <style>
            html, body, #map-canvas {
                margin: 0;
                padding: 0;
                height: 100%;
            }
        </style>
        <!-- google maps api include -->
        <script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
        <!-- custom google maps create -->
        <script type="text/javascript">
            var mapdata = {{ geoJson }};
        </script>
        <script type="text/javascript">
            var map;

            function initialize() {
                var mapOptions = {
                    zoom: 8,
                    center: {lat: 45.181918, lng: 34.589624},
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                };
                // create new google maps
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                // append geodata to map
                map.data.addGeoJson(mapdata);
                // set data style
                map.data.setStyle(function(feature) {
                    var weight = feature.getProperty('weight'),
                        color = feature.getProperty('color');
                    return {
                        icon: getIcon(weight, color)
                    };
                });
            }

            function getIcon(weight, color) {
                var circle = {
                    path: google.maps.SymbolPath.CIRCLE,
                    fillColor: color,
                    fillOpacity: .5 * (1 + Math.log10(weight)),
                    scale: 2 * Math.pow(2, 1 + Math.log10(weight)),
                    strokeColor: 'white',
                    strokeWeight: .5
                };
                return circle;
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
    <body>
        <div id="map-canvas" />
    </body>
</html>
